/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.navbar{
  background: #aa7150;     /*背景の色を変える*/
  color: #fff;
}

.navbar-item {
  color: #fff;
}

.button {
  color: #aa7150;
}

body {
  min-height: 100vh;
  background-image: url(./background.jpg);
  background-repeat: repeat;
  background-position: left top;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  overflow: hidden;
}

.pagination{
  width: 100%;
  margin-bottom: 3vw;
}

 /*ページネーション自体のデザイン*/
.pagination>li>a {
  font-size: large;
  border: none;     /*枠線をなくす*/
  color: #aa7150;   /*文字の色を変える*/
  padding: 5px 10px;
}
  
  /* 表示しているページ番号のデザイン */
.pagination>.active>a {
  display: inline-block;
  background: #93c9ff;     /*背景の色を変える*/
  padding: 5px 10px;
  
}
  
  /*ホバー時のデザイン*/
.pagination>li>a:hover {
  background-color: #aa7150;
  color: #fff;
  border-radius: 5px;     /*角を丸くする*/
  padding: 5px 10px;
}

.columns.is-centered{
  width: 80%;
  margin: 0px auto;
}
