.edit_field > input{
    width: 250px;
    border-radius: 5px;
    border-width: 3px;
    font-size: 30px;
    border-color: #aa7150;
    border-style: solid;
    background: #fff;
    font-weight: bold;
    color: #aa7150;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: block;
}

.section > .container > .columns.is-centered > .column.is-6 > form{
    display: block;
}

form > .field > p{
    width: 400px;
}

form > .show_pass{
    display: flex;
    width: 400px;
    height: 30px;
    margin: 5px auto 10px;
    font-size: large;
    align-items: center;
}

form > .show_pass > input{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.image_field{
    width: 100%;
    position: relative;
    border: #aa7150;
    border-style: solid;
}

.image_field:before {
    content:"";
    display: block;
    padding-top: 100%; /* 高さを幅の75%に固定 */
}

.image_field > label{
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image_field > label > #file{
    height: 100%;
    width: 100%;
}

#field_image{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    z-index: 1;
    background-color: #aa7150;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#field_image > #field_image_text{
    color: #fff;
    font-size: x-large;
    font-weight: bolder;
}

.image_field > label > #uplode_text{
    width: 60%;
    color: #fff;
    background-color: #aa7150;
    font-size: x-large;
    font-weight: 1000;
    display: flex;
    justify-content: center;
}

#result{
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
}

#error_explanation{
    background: #ffbf7f;
    border-radius: 15px;
    margin-bottom: 20px;
}

#error_explanation > h2{
    background: #ff8e8e;
    text-align: center;
    font-size: x-large;
    border-radius: 15px;
}

#error_explanation > ul{
    margin-left: 60px;
    font-size: larger;
}

.column.is-6{
    min-width: 700px;
}
