.edit_field > input{
    width: 250px;
    border-radius: 5px;
    border-width: 3px;
    font-size: 30px;
    border-color: #aa7150;
    border-style: solid;
    background: #fff;
    font-weight: bold;
    color: #aa7150;
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: block;
}

.section > .container > .columns.is-centered > .column.is-6 > form{
    display: block;
}

form > .field > p{
    width: 400px;
}

form > .show_pass{
    display: flex;
    width: 400px;
    height: 30px;
    margin: 5px auto 10px;
    font-size: large;
    align-items: center;
}

form > .show_pass > input{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
