.menu {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 15px;
}
@media screen and(max-width:790px){
    .menu{
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
    }
}

.home_field {
  width: 30%;
  min-width: 220px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0;
}

.home_button {
  width: 250px;
  border-radius: 5px;
  font-size: 30px;
  background: #aa7150;
  font-weight: bold;
}

.home_button > a {
  color: #fff;
}

.home_field > input {
    width: 250px;
    border-radius: 5px;
    font-size: 30px;
    background: #aa7150;
    font-weight: bold;
    color: #fff;
    border-color: #aa7150;
    border-style: solid;
  }

.edit_field {
    width: 30%;
    min-width: 220px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;/* flexアイテムの左右中央を指定する */
    align-items: center; /* flexアイテムの上下中央を指定する */
    margin: 1% 0;
}

.edit_button {
    width: 250px;
    border-radius: 5px;
    font-size: 30px;
    border-color: #aa7150;
    border-style: solid;
    background: #fff;
    font-weight: bold;
  }

.edit_button > a {
  color: #aa7150;
}

.name_box {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.name_box > .name {
    display: flex;
    margin-left: 8%;
    justify-content: center;/* flexアイテムの左右中央を指定する */
    align-items: center; /* flexアイテムの上下中央を指定する */
    font-size: 30px;
    font-weight: bold;
    position: relative;
    padding: 1rem .5rem;
}

.name_box > .favorite {
    
    width: 25%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;/* flexアイテムの左右中央を指定する */
    align-items: center; /* flexアイテムの上下中央を指定する */
}

.name_box > .favorite > a {
    color: #000;
    font-size: 25px;
}

.name_box > .name:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(#ecb08d), to(#aa7150));
    background-image: -webkit-linear-gradient(right, #ecb08d 0%, #aa7150 100%);
    background-image: linear-gradient(to left, #ecb08d 0%, #aa7150 100%);
}

.name_box > .name > input {
    border-color: #aa7150;
    border-style: solid;
    height: 45px;
    width: 300px;
    vertical-align: top;
    font-size: 20px;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

.post_field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    height: auto;
}

.post_field > .left_side  {
    height: auto;
    display: flex;
    flex-direction: column;
    width: unquote("max(30%, 300px)");
    margin: 0 auto;
    padding: 0 4%;
}

.post_field > .left_side > .image_field{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.post_field > .left_side > .device_field {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.post_field > .left_side > .device_field > .device_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
}

.post_field > .left_side > .device_field > .device_list > .device_name {
    position: left top;
    text-align: left;
    border-bottom: thick solid #aa7150;
    font-size: 25px;
}

.post_field > .left_side > .device_field > .device_list > .device_manufacturer {
    position: right;
    text-align: right;
    font-size: 25px;
    margin-top: 10px;
}

.post_field > .left_side > .device_field > .device_list > .device_number {
    position: right;
    text-align: right;
    font-size: 25px;
    margin-top: 10px;
}

.post_field > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 0 auto 5% auto;
    padding: 0 1%;
    min-width: 300px;
}

.post_field > form > .center_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post_field > form > .center_side > .center_side_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.data_side{
    margin: 0% 5% 5% 5%;
    width: 40%;
    min-width: 120px;
}

.calculation_side{
    margin: 0% 5% 5% 5%;
    width: 40%;
    min-width: 120px;
}

.little_title {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    border-bottom: thick solid #aa7150;
    height: auto;

}

.ingredient {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px auto;
}

.ingredient_name {
    display: inline-block;
    align-items: center;
    font-size: 130%;
    min-width: 80px;
    margin-right: 5%;
}

.ingredient_number {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 20px;
    width: 55%;
    min-width: 100px;
    margin-left:auto;
}

.ingredient_number > div{
    margin-right: 10px;
}

.ingredient_unit {
    font-size: 30px;
}

.ingredient_number > input {
    border-color: #aa7150;
    border-style: solid;
    height: 35px;
    width: 90%;
    min-width: 70px;
    vertical-align: top;
    font-size: 100%;
    text-align: right;
    margin-right: 5%;
}

.ingredient_name > input {
    border-color: #aa7150;
    border-style: solid;
    height: 35px;
    width: 80%;
    vertical-align: top;
    font-size: 20px;
    text-align: left;
    margin-right: 10px;
}

.device_manufacturer > input{
    border-color: #aa7150;
    border-style: solid;
    vertical-align: top;
    font-size: 20px;
    text-align: left;
    width: 200px;
}

.device_number > input{
    border-color: #aa7150;
    border-style: solid;
    vertical-align: top;
    font-size: 20px;
    text-align: left;
    width: 200px;
}

.chunk > .chunk_temp > input{
    border-color: #aa7150;
    border-style: solid;
    vertical-align: top;
    font-size: 20px;
    text-align: right;
    width: 45%;
    min-width: 80px;
}

.chunk > .chunk_time > input{
    border-color: #aa7150;
    border-style: solid;
    vertical-align: top;
    font-size: 20px;
    text-align: right;
    width: 45%;
    min-width: 80px;
}

.calculation_side_button {
    width: 250px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.calculation_side_button > input {
  border-color: #aa7150;
  border-style: solid;
  background: #fff;
  width: 250px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #aa7150;
}

.post_field > .right_side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    min-width: 200px;
    margin: 0 auto;
    padding: 0 1%;
}

.chunk_box {
    display: flex;
    flex-wrap: wrap;
}

.chunk {
    width: 90%;
    margin: 10px auto;
}

.chunk_name {
    display: inline-block;
    font-size: 20px;
}

.chunk_time {
    font-size: 20px;
    text-align: right;
}

.chunk_temp {
    font-size: 20px;
    text-align: right;
}

.card.mb-6 {
    width: 100%;
    min-height: 280px;
    overflow: hidden;
}

.mycard.mb-6 {
    background-color: #fff;
    min-height: 270px;
}


.card-header{
    height: 60px;
    border-bottom: thick solid #aa7150;
    justify-content: space-between;
}

.contributor{
    width: 30%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-header-title{
    font-size: 25px;
}

.main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.my_container{
    width: 65%;
    display: flex;
    justify-content: center;
    min-width: 330px;
    margin: 0 auto;
}

.column.is-4 {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 330px;
    margin: 0 auto;
    flex: none;
}

.column.is-4 > form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.column.is-4 > .post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.column.is-5 > form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.my_post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 350px;
}

.myself > p{
    font-size: large;
}

form{
    width: auto;
    margin-bottom: 5%;
    display: flex;
}

form > .search_box{
    margin-right: 15px;
    width: 50%;
    height: 30px;
}

form > .search_box > input{
    border-color: #aa7150;
    border-style: solid;
    width: 100%;
    height: 100%;
}

#favorite > form > .search_box{
    margin-right: 15px;
    width: 40%;
    height: 30px;
}

#favorite > form > .search_box > input{
    border-color: #aa7150;
    border-style: solid;
    width: 100%;
    height: 100%;
}

form > input{
    width: 20%;
    height: 100%;
    border-radius: 5px;
    border-width: 3px;
    font-size: medium;
    border-color: #aa7150;
    border-style: solid;
    background: #fff;
    font-weight: bold;
    color: #aa7150;
    margin-right: 15px;
}

#favorite > form > input{
    width: 15%;
    min-width: 60px;
    height: 100%;
    border-radius: 5px;
    border-width: 3px;
    font-size: medium;
    border-color: #aa7150;
    border-style: solid;
    background: #fff;
    font-weight: bold;
    color: #aa7150;
    margin-right: 15px;
}

h3{
    width: 100%;
    font-size: xx-large;
    border-bottom: thick solid #aa7150;
    margin-bottom: 15px;
}

form > .clear_button {
    width: 20%;
    height: 100%;
    border-radius: 5px;
    border-width: 3px;
    font-size: medium;
    background: #aa7150;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#favorite > form > .clear_button {
    width: 15%;
    min-width: 60px;
    height: 100%;
    border-radius: 5px;
    border-width: 3px;
    font-size: medium;
    background: #aa7150;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mycard.mb-6 > .card-content{
    position: relative;
    padding: 10px;
    height: 200px;
}

.card-footer > .button_to{
    width: 150px;
    margin-bottom: 0%;
    display: flex;
    margin: 1% 1%;
}

.card-footer > a{
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border-width: 3px;
    font-size: medium;
    background: #aa7150;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 10px 3% 10px;
}